h1{
	 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    color:#443F3E !important;
    font-size: 73px !important;
    font-weight: bold !important;
    margin-top: -5px !important;
    margin-left: 10px !important;
    margin-right: 25px !important;
    padding: 10px !important;;
  

    
}

header {

    background-color: #E5E2E1;
    opacity: 0.9;   
    height: 250px;

    
} 
 
 

header nav a{
    display: inline-block;
    color:#443F3E;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    font-size: 30px !important;
    text-decoration: none !important;
    font-weight: bold !important;
    margin-left: 25px !important;
    padding: 2px !important;
    width: 100%;


    
    
}
@media only screen and (min-width: 768px) {

header {
     
    overflow: hidden;
    height: 80px;
}
h1{
    float: left;
    margin-top: 5px;
}
  nav.menu{
    display: inline-flex;
    float: right;

}
 header nav a{
  
     text-align: center;
     margin-top: -10px;
     font-size: 19px;
 }
header nav a :hover{
    text-decoration: underline;
}


@media only screen and (min-width:1024px) { 
    header {
     
        overflow: hidden;
        height: 100px
        }
    h1{
        float: left;
        font-size: 65px;
        margin-top: 0;
             
    }
 
     header nav{
        display: inline-flex;
        float: right;
         
    }header nav a{
        margin-top: 22px;
        text-align: center;
        font-size: 33px;
        
    }
     
    header nav a :hover{
        text-decoration: underline;
    }
    
}
}