<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/estylo.css">
    <link rel="stylesheet" href="/css/manu.css">
    <link rel="stylesheet" href="/css/banner.css">
    <link rel="stylesheet" href="/css/coleccion.css">
    <link rel="stylesheet" href="/css/estilopf.css">
    <link rel="stylesheet" href="/css/login.css">
    <title>Stock de productos</title>
  </head>
  <body>
    <main layout:fragment="contenido">
    <div class="col-12">
        <h2>Agregar producto</h2>
        <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
             th:text="${mensaje}"
             class="alert">
        </div>
        
        <h3 th:text="'Se agrego el producto: '+${productoAgregado.nombre}"></h3>
        <!-- <form th:object="${producto}" th:action="@{/productos/agregar}" method="post">
            <div class="form-group">
                <label for="nombre">Nombre del producto</label>
                <input autocomplete="off" autofocus th:field="*{nombre}" id="nombre"
                       placeholder="Escribe el nombre del producto" type="text"
                       class="form-control" th:classappend="${#fields.hasErrors('nombre')} ? 'is-invalid' : ''">
                <div class="invalid-feedback" th:errors="*{nombre}"></div>
            </div>
            
            <div class="form-group">
                <label for="existencia">Precio</label>
                <input autocomplete="off" th:field="*{precio}" id="precio" placeholder="Precio del producto"
                       type="number"
                       class="form-control" th:classappend="${#fields.hasErrors('precio')} ? 'is-invalid' : ''">
                <div class="invalid-feedback" th:errors="*{precio}"></div>

            </div>
            <button class="btn btn-success" type="submit">Guardar</button>
            &nbsp;<a class="btn btn-warning" th:href="@{/productos/mostrar}">Ver todos</a>
        </form> -->
    </div>
</main>
    
           <footer>
                <div class="contenedor">
                    <p class="Copy" Betimar>BetyMarket &copy; 2019</p>
                    <div class="sociales">
                        <a href="www.facebook.com"><img src="imagenes/facebook.png" alt="facebook"></a>
                        <img src="imagenes/instagram.png" alt="instagram">
                        <img src="imagenes/twitter.png" alt="twitter">
                        <img src="imagenes/googleplus.png" alt="google+">
                    </div>
                </div>
            </footer>
        

</body>
</html>