<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>BetyMarket</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/estylo.css">
    <link rel="stylesheet" href="css/manu.css">
    <link rel="stylesheet" href="css/banner.css">
    <link rel="stylesheet" href="css/coleccion.css">
    <link rel="stylesheet" href="css/estilopf.css">
    <link rel="stylesheet" href="css/login.css">
    <script src="./loginjs2.js"></script>

</head>
<body>
        <header>
                <h1>BetyMarket</h1>

                <nav class="menu">

                   <a href="index">Inicio</a>
                   <a href="preguntasfrecuentes">Preguntas Frecuentes</a>
                   <a href="login.html">Log in</a>
                   <a href="registro">Registro</a>
                   <a href="carrito">Carrito</a>

                </nav>

        </header>

        <a href="">Agregar un articulo</a>
        <a href="">Var catalogo</a>


        <footer>
                <div class="contenedor">
                    <p class="Copy" Betimar>BetyMarket &copy; 2019</p>
                    <div class="sociales">
                        <a href="www.facebook.com"><img src="imagenes/facebook.png" alt="facebook"></a>
                        <img src="imagenes/instagram.png" alt="instagram">
                        <img src="imagenes/twitter.png" alt="twitter">
                        <img src="imagenes/googleplus.png" alt="google+">
                    </div>
                </div>
            </footer>
        

</body>
</html>